*{
    font-family: 'Helvetica';
    margin: 0;
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.heading button{
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .4s;
    padding: 0.8rem;
    border-radius: 8px;
}
.heading button:hover{
    background-color: rgba(10,10,10,0.1);
}