*{
    font-family: 'Helvetica';
    margin: 0;
}

body{
    background-color: white;
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.heading button{
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: .4s;
    padding: 0.8rem;
    border-radius: 4px;
}
.heading button:hover{
    background-color: #40d612;
    color: white;
}
.modal{
    width: 100vw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    place-items: center;
    background-color: rgba(10, 10, 10, 0.8);
    z-index: 2;
    transition: .4s;
}
.modal.shown{
    display: grid;
}
.modal .content{
    background-color: white;
    padding: 2rem;
    position: relative;
}
.modal h2{
    margin-top: 2rem;
}
.modal .content .close{
    background: white;
    display: grid;
    place-items: center;
    padding: 0.5rem;
    border: none;
    transition: .4s;
    position: absolute;
    top: 0;
    right: 0;
}
.modal .content .close img{
    transition: .4s;
}
.modal .content .close:hover{
    background-color: red;
}

.modal .content .close:hover img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(37deg) brightness(104%) contrast(100%);
}
.form-field{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-left: 0;
}
#read{
    position: relative;
    left: 0;
    width: 20px;
    height: 20px;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap : 2rem;
    margin: 0 2rem;
}
.card-grid >div{
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 16px #a7a7a7;
}
.card-grid > div > div{
    background-color: red;
    width: 4rem;
    height: 1rem;
}
.card-grid > div > div.read{
    background-color: #40d612;
}